<ion-view view-title=""> 
    <ion-content> 
      
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>ONLINE STORE</h1>
            </div>
        </div>
        <form class="card">       
            <div class="list">
                <label class="item item-input item-md-label">
                    <input type="text" placeholder="PASSWORD" ng-model="password" tabindex="1"></ion-md-input>   
                </label>
                <div class="text-center">           
                    <button class="button button-full button-assertive" id="submit-button" tabindex="3" ui-sref="app.home">Submit</button>
                    
                </div> 
            </div>
        </form>
    </ion-content>
    <ion-footer-bar class="bar-calm hide-on-keyboard-open"></ion-footer-bar>
</ion-view>
 