<ion-view view-title="HOME" class="dashboard-view">

    <ion-content>
        <div class="dashboard">
             <div class="dashboard-icon">
                <a class="tab-item active" ui-sref="app.transaction">
                    <i class="icon ion-clipboard"></i>
                    <p>TRANSACTION</p>
                </a>
            </div>
            <div class="dashboard-icon">
                <a class="tab-item active" ui-sref="app.bill">
                    <i class="icon ion-clipboard"></i>
                    <p>BILL</p>
                </a>
            </div>
            <div class="dashboard-icon">
                <a class="tab-item" ui-sref="app.itemlist">
                    <i class="icon ion-ios-cart"></i>
                    <p>ITEMS</p>
                </a>
            </div>

        </div>
        <div class="home-dashboard">
            <div class="dashboard-icon">
                <a class="tab-item " ui-sref="app.customer">
                    <i class="icon ion-person-add"></i>
                    <p>CUSTOMER</p>
                </a>
            </div>
            <div class="dashboard-icon">
                <a class="tab-item" ui-sref="app.supplier">
                    <i class="icon ion-person-add"></i>
                    <i></i>
                    <p>SUPPLIER</p>
                </a>
            </div>
            <div class="dashboard-icon">
                <a class="tab-item " ui-sref="app.accounts">
                    <i class="icon ion-ios-calculator"></i>
                    <p>ACCOUNTS</p>
                </a>
            </div>

        </div>
        <div class="home-dashboard">
            <div class="dashboard-icon">
                <a class="tab-item " ui-sref="app.reports">
                    <i class="icon ion-document-text"></i>
                    <p>REPORT</p>
                </a>
            </div>
            <div class="dashboard-icon">
                <a class="tab-item " ui-sref="app.setting">
                    <i class="icon ion-gear-b"></i>
                    <p>SETTING</p>
                </a>
            </div>
            <div class="dashboard-icon">
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-calm hide-on-keyboard-open"></ion-footer-bar>
</ion-view>