<ion-view view-title="ITEMLIST">
    <ion-content>
         <div class="add-item-button">
                <button class="button button-positive" ui-sref="app.additem">+</button>
            </div>
        <div class="card">
            
            <div class="row bar-calm">
                <div class="col">
                    <label>Sno</label>
                </div>
                <div class="col">
                    <label>I.Code</label>
                </div>
                <div class="col">
                    <label>Name</label>
                </div>
                <div class="col">
                    <label>Oty</label>
                </div>
                <div class="col">
                    <label>Price</label>
                </div>
                <div class="col">
                    <label>Image</label>
                </div>
            </div>
            <div class="row" ng-repeat="item in items">
                <div class="col">
                    <label>1</label>
                </div>
                <div class="col">
                    <label>{{item.code}}</label>
                </div>
                <div class="col">
                    <label>{{item.name}}</label>
                </div>
                <div class="col">
                    <label>{{item.quantity}}</label>
                </div>
                <div class="col">
                    <label>{{item.price}}</label>
                </div>
                <div class="col">
                    <img ng-src="{{}}" alt="img">
                </div>
            </div>
            <div class="row">
       
         </div>

    </ion-content>
    
</ion-view>