<ion-view view-title="" class="keyboard-open-pane"> 
    <ion-content class="stable-bg"> 
        <!--<div class="login-logo" id="login-la-logo">
            <img class="full-image" src="./assets/img/logo.png" alt="Logo" />
        </div>-->
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>ONLINE STORE</h1>
            </div>
        </div>
        <form class="card">       
            <div class="list login">
                <label class="item item-input item-md-label">
                    <input type="text" placeholder="USERNAME" ng-model="username" tabindex="1"></ion-md-input>   
                </label>
                <label class="item item-input item-md-label">
                    <input type="password"  placeholder="PASSWORD" tabindex="2" ng-model="password"></ion-md-input>
                    
                </label>
                <div class="text-center clearfix">           
                    <button class="button button-full button-assertive ion-log-in icon-left" id="submit-button" tabindex="3" ui-sref="app.home">LOGIN</button>
                    <a class="forget-password" ui-sref="forgetpassword">forget password</a>
                </div> 
            </div>
        </form>
    </ion-content>
    <!--<ion-footer-bar class="bar-calm"></ion-footer-bar>-->
</ion-view>
 