<ion-view view-title="TRANSACTION">
    <ion-content class="bill">
        <div class="card card-customer">
            <div class="text-center">
                <button class="button button-block  button-calm" ui-sref="app.purchase">
                            PURCHASE
                        </button>
                <button class="button button-block  button-calm" ui-sref="app.sales">
                            SALES
                        </button>
                <button class="button button-block  button-calm" ui-sref="app.cashin">
                            CASH-IN
                        </button>
                <button class="button button-block  button-calm" ui-sref="app.cashout">
                            CASH-OUT
                        </button>
                <button class="button button-block  button-calm" ui-sref="app.purchasereturn">
                           PURCHASE-RETURN
                        </button>
                <button class="button button-block  button-calm" ui-sref="app.salesreturn">
                            SALES-RETURN
                        </button>
                <button class="button button-block  button-calm" ui-sref="app.expense">
                            EXPENSE
                        </button>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-calm hide-on-keyboard-open"></ion-footer-bar>
</ion-view>